<h1>Cursos</h1>
<h2>
    Contamos con una gran variedad de cursos de programacion, con los mejores profesores, tutores y contenido ! 
</h2>  
<hr>
<li>Vue Js</li>
<li>Javascript</li>
<li>Angular</li>
<li>React JS</li>
<li>Css</li>
<li>SEO</li>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore nisi placeat vel quidem fuga consectetur exercitationem hic cupiditate! Illum deserunt expedita excepturi rerum eligendi praesentium unde corporis earum minus!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus sequi id quae aspernatur dolore, deleniti optio pariatur corrupti, magni inventore sit fuga eius consequatur qui nulla quibusdam hic et modi?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem explicabo facilis quos quia sint, aliquid enim, ipsa adipisci ullam ut impedit cumque mollitia omnis dolorem, alias iste necessitatibus. Autem, ipsum.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis similique quis sapiente autem doloribus officiis quidem totam incidunt, consequatur cupiditate veritatis nesciunt ullam nihil veniam! Id mollitia consequuntur asperiores quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore nisi placeat vel quidem fuga consectetur exercitationem hic cupiditate! Illum deserunt expedita excepturi rerum eligendi praesentium unde corporis earum minus!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus sequi id quae aspernatur dolore, deleniti optio pariatur corrupti, magni inventore sit fuga eius consequatur qui nulla quibusdam hic et modi?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem explicabo facilis quos quia sint, aliquid enim, ipsa adipisci ullam ut impedit cumque mollitia omnis dolorem, alias iste necessitatibus. Autem, ipsum.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis similique quis sapiente autem doloribus officiis quidem totam incidunt, consequatur cupiditate veritatis nesciunt ullam nihil veniam! Id mollitia consequuntur asperiores quidem.
        </p>

<app-formulario></app-formulario>