h1{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
     font-size: 40px; 
    color: #07a16b; 
    margin: 30px; 
    }

div {
    color: #141414;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive; 
}