
<div class="row container">
  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header> 
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">Vue JS</mat-card-title>
      </mat-card-header>  
      <hr>  
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          En este curso aprenderás a crear aplicaciones de forma incremental en el framework Vue js.
        </p>  
      </mat-card-content>                              
      <mat-card-actions>                            

        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a  [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
      </mat-card>
  </div>

  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">JavcaScript</mat-card-title>
      
      </mat-card-header>
      <hr>
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/800px-Unofficial_JavaScript_logo_2.svg.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          En este curso aprenderás fundamentos de JavaScript y arquitectura de aplicaciones web. Entenderás cómo desarrollar e integrar componentes del front-end para crear un sitio web increíble.
        </p>
      </mat-card-content>
      <mat-card-actions>  
        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a  [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">Angular</mat-card-title>
      </mat-card-header>
      <hr>
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Aprenderás a crear y mantener aplicaciones web en una sola página con Angular.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!-- SEGUNDA FILA -->

<div class="row container">
  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">REACT JS</mat-card-title>
   
      </mat-card-header>
      <hr>
      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/640px-React.svg.png">      
      <mat-card-content>
        <p>
          En este curso aprenderás a programar con React Js. 
          Conocerás cómo crear interfaces de usuario con el objetivo de facilitar el
           desarrollo de aplicaciones en una sola página.
        </p>
      </mat-card-content>
      <mat-card-actions>
        
        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a  [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">CSS</mat-card-title>
      
      </mat-card-header>
      <hr>
      <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/919/919826.png">      <mat-card-content>
        <p>
          En este curso aprenderemos  a brindar estilos con CSS. No necesitas conocimientos previos, pues empezaremos desde cero con una serie de ejemplos prácticos y al término del curso, 
          desarrollaremos un proyecto real en el cual aplicaremos todo lo aprendido </p>
      </mat-card-content>
      <mat-card-actions>  
        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a  [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card" id="card-1">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title-cards">SEO</mat-card-title>
      </mat-card-header>
      <hr>
      <img mat-card-image src="https://thumbs.dreamstime.com/b/seo-logo-con-la-lupa-98240334.jpg">
      <mat-card-content>
        <p>
          En este curso de SEO aprenderás el uso de las técnicas de
           posicionamiento web con page y off page, con las cuales podrás
            posicionar tu página en los primeros resultados de los buscadores de Google, 
            Yahoo y Bing, gracias a búsquedas orgánicas relacionadas con el contenido. Es fácil de aprender 
          y solo se requiere tener conocimientos elementales.         </p>
      </mat-card-content>
      <mat-card-actions>

        <button class="btn"><a [routerLink]="'/inscribirse'">Inscribirme</a></button>
        <button class="btn"><a  [routerLink]="'/info'">Mas Info</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
