.form{
    background-color: #414D68;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    
 
}



h1{
    background-color: #07a16b ;
    color: rgb(250, 248, 248);
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
  
}

.btn {
    /* Color del texo */
    margin: 40px;
    color: #d1cccc;
    /* Eliminar color de fondo */
    
    background:#414D68;
    /* Grosor del borde, estilo de línea y color */
    
    border: 2px solid #030303;
    /* Añadir esquinas curvadas */
    
    border-radius: 6px;
    /* Poner texto en mayúsculas */
     }